nav {
    flex-shrink: 1;
    border-bottom: 1px solid $nav-border-color;
    border-top: 1px solid $nav-border-color;
    padding: 0 40px;

    .nav-container {
        @include flex(row);
        margin: 0 auto;
        padding: 10px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .nav__recomand-keywords {
            font-size: 12px;
            font-weight: bold;
            color: white;
            background-color: $keyword-color;
            border: 0.5px solid $keyword-border-color;
            border-radius: 15px;
            list-style: none;
            text-align: center;
            padding: 5px 10px;
            margin: 0px 10px;

            &:hover {
                background-color: $keyword-color-hover;
            }
        }
    }
}
